MediportaZadRek/.vs/MediportaZadRek/config/applicationhost.config
MediportaZadRek/.vs/MediportaZadRek/DesignTimeBuild/.dtbcache.v2
MediportaZadRek/.vs/MediportaZadRek/v17
MediportaZadRek/.vs
MediportaZadRek/MediportaZadRek/bin
MediportaZadRek/MediportaZadRek/obj
MediportaZadRek/UnitTests/bin
MediportaZadRek/UnitTests/obj
MediportaZadRek/MediportaZadRek/MediportaZadRek.csproj.user
